<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospedar Aluno</title>
</head>
<body>
    <h1>Hospedar Quarto</h1>
    <form action="submit">
        <label for="fname">Nome</label><br>
        <input type="text" id="fnome" name="fname"><br>
        <label for="lname">SobreNome</label><br>
        <input type="text" id="lnome" name="lname"><br><br>
        <input type="submit" value="Enviar">
    </form>

</body>
</html>