{% extends 'base.html' %}

{% block center %}
  <h2> {{ hospedagem.cliente.nome }} para {{ hospedagem.data_entrada}} - {{ hospedagem.data_saida}} </h2>
  

  <table class="table table-bordered" >
    <thead>
      <tr>
        <th>Data de Entrada</th>
        <th>Data de Saida</th>
        <th>Valor</th>
        <th>Cliente</th>
        <th>Quarto</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>{{ hospedagem.data_entrada }}</td>
        <td>{{ hospedagem.data_saida }}</td>
        <td>{{ hospedagem.valor }}</td>
        <td>{{ hospedagem.cliente }}</td>
        <td>{{ hospedagem.quarto }}</td>
      </tr>

    </tbody>
  </table>
  
  <div class="d-flex justify-content-end">  
    <a href="{% url 'hospedagem_listar' %}" class="btn btn-danger mb-3">Voltar</a>
  </div>

{% endblock %}